<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="hellobrave_cookiecompliance" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cookie Compliance</label>
            <tab>hellobrave</tab>
            <resource>HelloBrave_CookieCompliance::hellobrave_cookiecompliance</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable / disable the HelloBrave Cookie Compliance module.</comment>
                </field>
                <field id="message" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Message</label>
                </field>
                <field id="learn_message" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>More Information Link Text</label>
                </field>
                <field id="learn_link" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>More Information Link URL</label>
                    <comment>The URL where the user will find more information regarding cookie usage. e.g: http://www.mymagentostore.com/privacy-policy</comment>
                </field>
                <field id="hide_message" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Message Link Text</label>
                </field>
                <field id="link_separator" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Link Separator</label>
                    <comment>A separator which is used to separate the text and links.</comment>
                </field>
                <field id="custom_css" translate="label" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom CSS (Advanced)</label>
                    <comment>Add CSS to change the style of the notification bar.</comment>
                </field>
            </group>

            <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced</label>
                <comment>These settings allow easier integration across multiple sites which may want to share the same banner cookie</comment>

                <field id="cookie_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Name</label>
                </field>

                <field id="cookie_expire_days" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Expiration Days</label>
                </field>

                <field id="cookie_domain" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment>Leave blank to not specify the domain - which is the expected behavior in most cases</comment>
                    <label>Cookie Domain</label>
                </field>

                <field id="cookie_path" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Path</label>
                </field>

                <field id="cookie_set_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Set Value</label>
                    <comment>The value of the cookie when the banner has been closed by the user</comment>
                </field>
            </group>
        </section>
    </system>
</config>
